body {
  font-family: 'Nanum Gothic', 'Arial', sans-serif;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.table {
  display: block;
  margin-top: 20px;
}

th, td {
  border: 1px solid black;
  padding: 5px;
}

.button {
  color: white;
  width: 100px;
  height: 30px;
  letter-spacing: 1px;
  cursor: pointer;
  border: none;
  background-color: #2cde9d;
  border-radius: 0.5em;  
}

.button:active,
.button:focus { 
  outline: none;
  border: none;	 	
}

.button:hover {
  color: rgba(255, 255, 255, 0.4);
  background-color: #35e7a6;	
}

#one {
  height: 30px; 
  border-radius: 0.3em;
  border: 1px solid #4f5b56;
  box-sizing: border-box;
}

#one:hover,
#one:active,
#one:focus {
  outline: none;
  border: one;  
}

#one:active {
  border: 1px solid #35e7a6;	
}

#one:focus {
  border: 1px solid #35e7a6;	
}

div {
	margin-bottom: 20px;
}